
* {
  margin: 0px;
  padding: 0px;
   font-family: 'Popping', sans-serif;
    box-sizing: border-box;
}
body {
  background-color: white;
  padding:0;
  margin: 0; 
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.ticketform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.sec1 img {
  max-width: 85%;
  max-height: 15%;
  float: left;
}
.sec1 h1 {
  color: brown;
}
.sec1 ul {
  list-style: square;
  color: rgb(7, 29, 68);
  margin: 25px;
  font-size: 20px;
}
.sec ul li {
  padding: 5px;
  margin-left: 35px;
}
.footer{
  margin-top: 150px;
  width: 70%;
  padding: 100px 15%;
  background: #05315C;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;

}
.col-2{
  flex-grow: 2;
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: gray;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15;
  cursor: pointer;
}
.social-icons{
  margin-top: 30px;
}
.social-icons i{
font-size: 22px;
margin: 10px;
cursor: pointer;
}
#From{
  height: 70%;
  width: 30%;
}
#To{
  height: 70%;
  width: 30%;
}
#Departure{
  height: 70%;
  width: 30%;
}
#Arrival{
  height: 70%;
  width: 30%;
}
nav ul{
  height: 100px;
  width: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#05315C;
  list-style: none;
  padding: 10px;
  
  margin: 0;
  
}

nav ul a{

  color: white;
  font-size: 25px;
  text-decoration: none;
  
}
nav ul a:hover{
  color: slategray;
  transition: 0.3s;
}
#Language{
  color: black;
  font-size: 15px;
  text-decoration: none;
}
.Loginbox{
  box-sizing:border-box;
  font-size: 15px;
  color: black;
  height: 25%;
  width: 40%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(229, 140, 131);
  list-style: none;
  padding:2em;
  margin-top:5em; 
  margin-left:20em;
}
#name{
  font-size: 18px;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content:flex-start;
}
#Password{
  font-size: 18px;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content:flex-start;
}
.box {
  box-sizing:border-box;
  font-size: 18px;
  width: 45%;
  height: 50%;
border: black 2px solid;
border-bottom:  slategray 5px solid;
border-right:  slategray 5px solid;

  margin: 5em;
  margin-left: 15em;
  padding: 2em;
  background-color: rgb(206, 220, 235);
}
#search{
  box-sizing: border-box; 
  background-color:blueviolet;
  color:beige;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end;
  
  font-size: 15px;
}
#search:hover{
  color: rgb(48, 50, 51);
  transition: 0.3s;
  
}
#button{
  box-sizing: border-box;
  background-color:blueviolet;
  color:beige;
  padding: 6px 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 25px;
}

#button:hover{
  color: rgb(48, 50, 51);
  transition: 0.3s;
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.ticketform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.sec1 img {
  max-width: 85%;
  max-height: 15%;
  float: left;
}
.sec1 h1 {
  color: brown;
}
.sec1 ul {
  list-style: square;
  color: rgb(7, 29, 68);
  margin: 25px;
  font-size: 20px;
  padding: 20px;
}
.sec ul li {
  padding: 5px;
  margin-left: 35px;
}

content {
    background-color: white;
}

.luxury {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
  margin-top: 25px;
  font-size: 20px;
  flex-direction: column;
  background:fixed
}
.text {
    max-width: 50%;
    color: white;
    align-items: flex-end;
    margin: 0.5 0.5em;
    padding: 5rem;
    text-align: right;
  }

  .text h1 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
 }

  .text p {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    font-style: italic;
    line-height: 2rem;
    font-weight: lighter;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
  }

  .text img { 
    display: flex;
    margin: o;
    height: 60%;
    width: 60%;
  }

  .text h2 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .text h3 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .text h4 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .button {
    cursor: pointer;
  }
