* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.ticketform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.sec1 img {
  max-width: 85%;
  max-height: 15%;
  float: left;
}
.sec1 h1 {
  color: brown;
}
.sec1 ul {
  list-style: square;
  color: rgb(7, 29, 68);
  margin: 25px;
  font-size: 20px;
  padding: 20px;
}
.sec ul li {
  padding: 5px;
  margin-left: 35px;
}

content {
    background-color: white;
}

.luxury {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
  margin-top: 25px;
  font-size: 20px;
  flex-direction: column;
  background:fixed
}
.text {
    max-width: 50%;
    color: white;
    align-items: flex-end;
    margin: 0.5 0.5em;
    padding: 5rem;
    text-align: right;
  }

  .text h1 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
 }

  .text p {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    font-style: italic;
    line-height: 2rem;
    font-weight: lighter;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
  }

  .text img { 
    display: flex;
    margin: o;
    height: 60%;
    width: 60%;
  }

  .text h2 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .text h3 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .text h4 {
    font-family: sans-serif;
    font-size: 20px;
    color:black;
    align-items: center;
    margin: 2rem 0;
    font-style: italic;
    line-height: 3rem;
    font-weight: bold;
  }

  .button {
    cursor: pointer;
  }