=======

* {
  margin: 0px;
  padding: 0px;
   font-family: 'Popping', sans-serif;
    box-sizing: border-box;
}
body {
  background-color: white;
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.ticketform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.sec1 img {
  max-width: 85%;
  max-height: 15%;
  float: left;
}
.sec1 h1 {
  color: brown;
}
.sec1 ul {
  list-style: square;
  color: rgb(7, 29, 68);
  margin: 25px;
  font-size: 20px;
}
.sec ul li {
  padding: 5px;
  margin-left: 35px;
}
.footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #05315C;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;

}
.col-2{
  flex-grow: 2;
}
.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: gray;
}
form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15;
  cursor: pointer;
}
.social-icons{
  margin-top: 30px;
}
.social-icons i{
font-size: 22px;
margin: 10px;
cursor: pointer;
}

